@{
    ViewBag.Active = "Площадки";
}
<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Площадки</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Главная</a></li>
                        <li class="active">Площадки</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Categories -->
                <div class="panel-group" id="help-nav">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-parent="#help-nav" aria-expanded="true">
                                Город
                            </a>
                        </div>
                        <div id="help-nav-one" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <input id="city" class="typeahead" type="text" placeholder="City" />
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-parent="#help-nav" aria-expanded="true">
                                Расположение
                            </a>
                        </div>
                        <div id="help-nav-two" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">В центре</a></li>
                                    <li><a href="#">Возле метро</a></li>
                                    <li><a href="#">За городом</a></li>
                                </ul>

                                <!--<label for="center">В центре</label><input id="center" type="radio" name="group1" value="Milk">
                                <input type="radio" name="group1" value="Butter" checked>
                                <input type="radio" name="group1" value="Cheese"> -->
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-parent="#help-nav" aria-expanded="true">
                                Площадка
                            </a>
                        </div>
                        <div id="help-nav-three" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Все</a></li>
                                    <li><a href="#">Гостиница</a></li>
                                    <li><a href="#">Ресторан</a></li>
                                    <li><a href="#">Зал</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-parent="#help-nav" aria-expanded="true">
                                Вместимость
                            </a>
                        </div>
                        <div id="help-nav-four" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <input placeholder="Capacity"/>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <a class="btn btn-default btn-theme-secondary" href="#"><i class="fa"></i>Поиск</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <!-- Filters -->
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="#hotels" data-toggle="tab">Гостиницы</a></li>
                    <li><a href="#restaurants" data-toggle="tab">Рестораны</a></li>
                    <li><a href="#recent" data-toggle="tab">Залы</a></li>
                </ul>

                <div class="row">
                    <div class="tab-content">
                        <!-- Hotels -->
                        <div class="tab-pane fade in active" id="hotels">
                        </div>

                        <!-- Restaurants -->
                        <div class="tab-pane fade" id="restaurants">
                        </div>

                        <!-- Halls -->
                        <div class="tab-pane fade" id="recent"> 
                        </div>
                    </div> <!-- /.tab-content -->         
                </div> <!-- / .row -->
            
            </div> <!-- / .col-sm-8 -->
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->

@section scripts
{
    @Scripts.Render("~/bundles/platforms")
}