<!-- Wrapper -->
<div class="wrapper">
    <!-- Topic Header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="error-page">
                    <div class="not-found">
                        <span>Oooopssss...</span>
                    </div>
                    <div>
                        <img src="../../images/common/error.png" alt="error" style="width: 25em;">
                    </div>
                    <p>Error was processing while request.</p>
                    <p class="text-muted">Error</p>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->