<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>About Us</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">About Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-sm-7">
                <h3 class="headline first-child"><span>Welcome Message</span></h3>
                <p>
                    Sed at porta tellus. Sed sit amet ipsum non dolor tincidunt vestibulum eget et urna. In et placerat eros. Curabitur tristique lacinia tortor ut ornare. Proin vehicula rhoncus fermentum. Integer scelerisque aliquam turpis. Quisque pellentesque, sem vel molestie posuere, orci sapien interdum mauris, eget condimentum purus arcu ut augue. 
                    <br /><br />
                    Nunc in neque nec arcu vulputate ullamcorper. Ut id orci ac arcu consectetur fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis hendrerit enim id arcu lacinia, id commodo ante semper. Sed vel ante nec nisi vestibulum congue. Pellentesque non lacus in tortor rutrum tristique.
                </p>
                <hr>
                <a href="@Url.Action("ContactUs", "Home")" class="btn btn-lg btn-theme-primary">Contact Us</a>
                <br /><br />
            </div>
            <div class="col-sm-5">
                <h3 class="headline first-child"><span>Video Intro</span></h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
            </div>
        </div> <!-- / .row -->
        <div class="row our-team-p">
            <div class="col-sm-12">
                <h3 class="headline"><span>Our Team</span></h3>
                <div class="row">
                    <div class="col-sm-2 col-xs-6">
                        <div class="team-member text-center">
                            <img class="img-responsive center-block" src="~/images/photo-1.jpg" alt="...">
                            <div class="info">
                                John Doe
                                <p class="text-muted">Founder</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <div class="team-member text-center">
                            <img class="img-responsive center-block" src="~/images/photo-2.jpg" alt="...">
                            <div class="info">
                                John Doe
                                <p class="text-muted">Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <div class="team-member text-center">
                            <img class="img-responsive center-block" src="~/images/photo-3.jpg" alt="...">
                            <div class="info">
                                John Doe
                                <p class="text-muted">Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <div class="team-member text-center">
                            <img class="img-responsive center-block" src="~/images/photo-1.jpg" alt="...">
                            <div class="info">
                                John Doe
                                <p class="text-muted">Engineer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <div class="team-member text-center">
                            <img class="img-responsive center-block" src="~/images/photo-2.jpg" alt="...">
                            <div class="info">
                                John Doe
                                <p class="text-muted">Sales</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 col-xs-6">
                        <div class="team-member text-center">
                            <img class="img-responsive center-block" src="~/images/photo-3.jpg" alt="...">
                            <div class="info">
                                John Doe
                                <p class="text-muted">Admin Team</p>
                            </div>
                        </div>
                    </div>
                </div> <!-- / .row -->
            </div>
        </div> <!-- / .row -->

    </div> <!-- / .container -->

</div> <!-- / .wrapper -->