<!-- Wrapper -->
<div class="wrapper">

    <!-- Team Picture -->
    <div class="b-team-photo">
    </div>

    <!-- About Us -->
    <div class="b-about-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-md-offset-2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit congue porta. Pellentesque ac elit a metus condimentum lobortis a eu odio.
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline-lg">
                    About Us
                </h2>
            </div>
            <div class="col-sm-6">
                <h3 class="headline">
                    <span>Welcome to Paperclip</span>
                </h3>
                <p>
                    Morbi rhoncus eu tellus sit amet porta. Suspendisse augue nunc, pharetra auctor pretium quis, semper id justo. Praesent egestas blandit vehicula. Phasellus eget purus mi.
                </p>
                <ul class="ft-list">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                    <li>Donec vel nisi sit amet mauris dapibus aliquam quis vel magna.</li>
                    <li>Donec vulputate tellus quis volutpat congue.</li>
                    <li>Sed ultrices eros eu euismod semper.</li>
                    <li>Donec vulputate tellus quis volutpat congue.</li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 class="headline">
                    <span>Our Skills</span>
                </h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-theme-secondary" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                        HTML/CSS
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-theme-secondary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                        JavaScript
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-theme-secondary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        PHP
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-theme-secondary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        Photoshop
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline-lg">
                    Our Team
                </h2>
                <h4>Meet our team members</h4>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-3">
                <div class="user-avatar shadow-effect text-center">
                    <img class="img-responsive center-block" src="~/images/photo-4.jpg" alt="...">
                    John Doe
                    <p class="text-muted">Founder</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="user-avatar shadow-effect text-center">
                    <img class="img-responsive center-block" src="~/images/photo-5.jpg" alt="...">
                    Jane Doe
                    <p class="text-muted">Engineer</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="user-avatar shadow-effect text-center">
                    <img class="img-responsive center-block" src="~/images/photo-6.jpg" alt="...">
                    John Doe
                    <p class="text-muted">Sales</p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="user-avatar shadow-effect text-center">
                    <img class="img-responsive center-block" src="~/images/photo-4.jpg" alt="...">
                    John Doe
                    <p class="text-muted">Admin Team</p>
                </div>
            </div>
        </div>
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->