<!-- Wrapper -->
<div class="wrapper">

    <!-- Google Map -->
    <div id="map_canvas" class="contact-us__google-map_big"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="headline first-child"><span>Contact Us</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue tellus ut velit mollis condimentum. Nulla egestas neque sed odio varius facilisis. Donec ac metus gravida leo dictum porttitor.</p>
                <!-- Alert message -->
                <div class="alert" id="form_message" role="alert"></div>
                <!-- Setting the custom theme for reCaptcha.
                    Default themes and customization: 
                    https://developers.google.com/recaptcha/docs/customization -->
                <script type="text/javascript">
                    var RecaptchaOptions = {
                        theme: 'custom',
                        custom_theme_widget: 'recaptcha_widget'
                    };
                </script>
                <!-- Please carefully read the README.txt file in order to setup
                    the PHP contact form properly -->
                <form role="form" id="form_sendemail">
                    <div class="form-group">
                        <label for="email">Your email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" data-original-title="" title="">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="name">Your name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" data-original-title="" title="">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="message">Your message</label>
                        <textarea name="message" class="form-control" rows="3" id="message" placeholder="Message"></textarea>
                        <span class="help-block"></span>
                    </div>
                    <!-- reCAPTCHA -->
                    <div class="form-group" id="form-captcha">
                        <!-- Start reCAPTCHA -->
                        <div id="recaptcha_widget" style="display: none">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p>
                                        <span class="recaptcha_only_if_image">Can't read the words below?</span><span class="recaptcha_only_if_audio">Can't hear the sound?</span> <a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a> or <span class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">try an audio CAPTCHA</a></span><span class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">try an image CAPTCHA</a></span>.
                                    </p>
                                    <!-- reCAPTCHA image -->
                                    <div id="recaptcha_image"></div>
                                    <div class="recaptcha_only_if_image">
                                        Enter the words above:
                                    </div>
                                    <div class="recaptcha_only_if_audio">
                                        Enter the numbers you hear:
                                    </div>
                                    <!-- reCAPTCHA input -->
                                    <input class="form-control input-sm" type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
                                </div>
                            </div>
                        </div> <!-- / #recaptcha_widget -->
                        <script type="text/javascript"
                                src="http://www.google.com/recaptcha/api/challenge?k=your_public_key">
// Insert your public key here
                 
                        </script>
                        <noscript>
                            <iframe src="http://www.google.com/recaptcha/api/noscript?k=your_public_key"
                                    height="300" width="500" frameborder="0"></iframe><br>
                            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                   </textarea>
                            <input type="hidden" name="recaptcha_response_field"
                                   value="manual_challenge">
                        </noscript>
                        <!-- End reCAPTCHA -->
                        <span class="help-block"></span>
                    </div>
                    <!-- / reCAPTCHA -->
                    <button type="submit" class="btn btn-theme-primary">Contact Us</button>
                </form>
            </div>
            <div class="col-sm-4">
                <h3 class="headline second-child"><span>Contact Info</span></h3>
                <ul class="contact-info">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div class="contact-info-content">
                            <div class="title">Address:</div>
                            <div class="description">Vivamus posuere in erat ut posuere. Nulla ullamcorper felis in turpis euismod.</div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <div class="contact-info-content">
                            <div class="title">Telephone:</div>
                            <div class="description">+123456789</div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-fax"></i>
                        <div class="contact-info-content">
                            <div class="title">Fax:</div>
                            <div class="description">+123456789</div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-twitter"></i>
                        <div class="contact-info-content">
                            <div class="title">Twitter:</div>
                            <div class="description">https://www.twitter.com/example</div>
                        </div>
                    </li>
                </ul>

                <!-- Social links -->
                <br />
                <div class="social">
                    <ul class="list-inline">
                        <li><a href="#" class="rss"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="plus"><i class="fa fa-plus"></i></a></li>
                        <li><a href="#" class="vk"><i class="fa fa-vk"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->