<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Contact Us</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Contact Us</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="headline first-child"><span>Contact Us</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin congue tellus ut velit mollis condimentum. Nulla egestas neque sed odio varius facilisis. Donec ac metus gravida leo dictum porttitor.</p>
                <!-- Alert message -->
                <div class="alert" id="form_message" role="alert"></div>
                <!-- Setting the custom theme for reCaptcha.
                    Default themes and customization: 
                    https://developers.google.com/recaptcha/docs/customization -->
                <script type="text/javascript">
                    var RecaptchaOptions = {
                        theme: 'custom',
                        custom_theme_widget: 'recaptcha_widget'
                    };
                </script>
                <!-- Please carefully read the README.txt file in order to setup
                    the PHP contact form properly -->
                <form role="form" id="form_sendemail">
                    <div class="form-group">
                        <label for="email">Your email address</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="E-mail" data-original-title="" title="">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="name">Your name</label>
                        <input type="text" name="name" class="form-control" id="name" placeholder="Full Name" data-original-title="" title="">
                        <span class="help-block"></span>
                    </div>
                    <div class="form-group">
                        <label for="message">Your message</label>
                        <textarea name="message" class="form-control" rows="3" id="message" placeholder="Message"></textarea>
                        <span class="help-block"></span>
                    </div>
                    <!-- reCAPTCHA -->
                    <div class="form-group" id="form-captcha">
                        <!-- Start reCAPTCHA -->
                        <div id="recaptcha_widget" style="display: none">
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p>
                                        <span class="recaptcha_only_if_image">Can't read the words below?</span><span class="recaptcha_only_if_audio">Can't hear the sound?</span> <a href="javascript:Recaptcha.reload()">Get another CAPTCHA</a> or <span class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">try an audio CAPTCHA</a></span><span class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">try an image CAPTCHA</a></span>.
                                    </p>
                                    <!-- reCAPTCHA image -->
                                    <div id="recaptcha_image"></div>
                                    <div class="recaptcha_only_if_image">
                                        Enter the words above:
                                    </div>
                                    <div class="recaptcha_only_if_audio">
                                        Enter the numbers you hear:
                                    </div>
                                    <!-- reCAPTCHA input -->
                                    <input class="form-control input-sm" type="text" id="recaptcha_response_field" name="recaptcha_response_field" />
                                </div>
                            </div>
                        </div> <!-- / #recaptcha_widget -->
                        <script type="text/javascript"
                                src="http://www.google.com/recaptcha/api/challenge?k=your_public_key">
// Insert your public key here
                 
                        </script>
                        <noscript>
                            <iframe src="http://www.google.com/recaptcha/api/noscript?k=your_public_key"
                                    height="300" width="500" frameborder="0"></iframe><br>
                            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                   </textarea>
                            <input type="hidden" name="recaptcha_response_field"
                                   value="manual_challenge">
                        </noscript>
                        <!-- End reCAPTCHA -->
                        <span class="help-block"></span>
                    </div>
                    <!-- / reCAPTCHA -->
                    <button type="submit" class="btn btn-theme-primary">Contact Us</button>
                </form>
            </div>
            <div class="col-sm-4">
                <h3 class="headline second-child"><span>Our Address</span></h3>
                <p>
                    San Francisco, CA 94101<br />
                    1987 Lincoln Street<br />
                    Phone: +0 000 000 00 00<br />
                    Fax: +0 000 000 00 00<br />
                    Email: <a href="#">admin@mysite.com</a>
                </p>
                <h3 class="headline"><span>Google Map (responsive)</span></h3>
                <div class="embed-responsive embed-responsive-4by3" id="map_canvas">
                    <div id="map_canvas"></div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->