@{
    ViewBag.Active = "Контакты";
}

<!-- Wrapper -->
<div class="wrapper">

    <!-- Google Map -->
    <div id="canvasContactUs" class="contact-us__google-map_big"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="headline first-child"><span>О нас</span></h3>
                <p>
                    EVENTEAM – система, которая объединяет площадки, лучших поставщиков услуг и профессионалов ивент-индустрии, с одной целью – сделать организацию мероприятий для вас максимально простой и удобной.
                </p>
                <p>
                    Это просто – Вы объясняете нам суть задачи, мы находим лучший способ ее решения.
                    Это удобно – получить в свое распоряжение не одного ивент-менеджера, а целую ивент-команду. Менеджер проекта, креативщик, логист, дизайнер, сценарист, режиссер, продакшн, водитель, декоратор, сервис-менеджер и резонатор (!) – обычно так выглядит проектная команда EVENTEAM.
                </p>
                <p>
                    У Абрамовича есть «Челси», у Маркевича – «Металлист», у Ахметова – «Шахтер»… а чем Вы хуже? У Вас тоже должна быть своя персональная команда, ивент-команда! Талант выигрывает игры, команда – чемпионаты. EVENTEAM – Ваша персональная ивент-команда.
                </p>
            </div>
            <div class="col-sm-4">
                <h3 class="headline second-child"><span>Контакты</span></h3>
                <ul class="contact-info">
                    <li>
                        <i class="fa fa-map-marker"></i>
                        <div class="contact-info-content">
                            <div class="title">Адрес:</div>
                            <div class="description">Адрес: г.Киев, ул. Казимира Малевича, 111, оф. 11</div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-mail-forward"></i>
                        <div class="contact-info-content">
                            <div class="title">E-mail:</div>
                            <div class="description"><a href="mailto:team@eventeam.com.ua">team@eventeam.com.ua</a></div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        <div class="contact-info-content">
                            <div class="title">Тел.:</div>
                            <div class="description"><a href="callto:+380675054650">+38 (067) 505-46-50</a>, 
                                <a href="callto:+380675054650">+38 (050) 371 90 91</a></div>
                        </div>
                    </li>
                    <li>
                        <i class="fa fa-facebook"></i>
                        <div class="contact-info-content">
                            <div class="title">Facebook:</div>
                            <div class="description"><a href="https://www.facebook.com/eventeam.international">Eventeam International</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->
@section scripts {
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC92Xbz7wDEoLxEQsMPoStJUVU2RPYPVQw"></script>

    <script>
        function initialize() {
            var canvas = document.getElementById('canvasContactUs');
            var position = new google.maps.LatLng(50.42169, 30.55340);

            var mapOptions = {
                scrollwheel: false,
                center: position,
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }

            var map = new google.maps.Map(canvas, mapOptions);

            var marker = new google.maps.Marker({
                position: position,
                map: map,
                title: 'Eventeam International'
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
}