<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Error Page</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Error Page</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-md-offset-3">
                <div class="error-page">
                    <div class="not-found">
                        <span>Not Found</span>
                    </div>
                    <p>The page you were looking for couldn't be found.</p>
                    <p class="text-muted">You can try to reload it some time later or browse our fabulous website right now!</p>
                    <a href="@Url.Action("Index", "Home")">Homepage</a> <span class="divider">|</span> <a href="@Url.Action("AboutUs", "Home")">About Us</a> <span class="divider">|</span> <a href="@Url.Action("ContactUs", "Home")">Contact Us</a>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->