<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Help Item</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li><a href="@Url.Action("HelpCenter", "Home")">Help Center</a></li>
                        <li class="active">Help Item</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <!-- Search -->
                <form role="form">
                    <div class="well">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter your question here...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-theme-primary" type="button"><i class="fa fa-search"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div><!-- /.col-lg-6 -->
                        </div><!-- /.row -->
                    </div>
                </form>
                <!-- Categories -->
                <div class="panel-group" id="help-nav">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-one">
                                Administration
                            </a>
                        </div>
                        <div id="help-nav-one" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Subcategory (17)</a></li>
                                    <li><a href="#">Subcategory (8)</a></li>
                                    <li><a href="#">Subcategory (10)</a></li>
                                    <li><a href="#">Subcategory (24)</a></li>
                                    <li><a href="#">Subcategory (4)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-two" class="collapsed">
                                Development
                            </a>
                        </div>
                        <div id="help-nav-two" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Subcategory (17)</a></li>
                                    <li><a href="#">Subcategory (8)</a></li>
                                    <li><a href="#">Subcategory (10)</a></li>
                                    <li><a href="#">Subcategory (24)</a></li>
                                    <li><a href="#">Subcategory (4)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-three" class="collapsed">
                                Installation
                            </a>
                        </div>
                        <div id="help-nav-three" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Subcategory (17)</a></li>
                                    <li><a href="#">Subcategory (8)</a></li>
                                    <li><a href="#">Subcategory (10)</a></li>
                                    <li><a href="#">Subcategory (24)</a></li>
                                    <li><a href="#">Subcategory (4)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-four" class="collapsed">
                                Security
                            </a>
                        </div>
                        <div id="help-nav-four" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Subcategory (17)</a></li>
                                    <li><a href="#">Subcategory (8)</a></li>
                                    <li><a href="#">Subcategory (10)</a></li>
                                    <li><a href="#">Subcategory (24)</a></li>
                                    <li><a href="#">Subcategory (4)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a data-toggle="collapse" data-parent="#help-nav" href="#help-nav-five" class="collapsed">
                                User Management
                            </a>
                        </div>
                        <div id="help-nav-five" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><a href="#">Subcategory (17)</a></li>
                                    <li><a href="#">Subcategory (8)</a></li>
                                    <li><a href="#">Subcategory (10)</a></li>
                                    <li><a href="#">Subcategory (24)</a></li>
                                    <li><a href="#">Subcategory (4)</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="headline"><span>Do you provide support for this item?</span></h3>
                <p>
                    Yes, do not hesitate to contact us if you have any questions or requests regarding this item. 
                    <br /><br />
                    Sed rutrum quis eros sit amet feugiat. Phasellus vestibulum libero et leo porta, eu scelerisque lacus aliquet. Vivamus euismod tincidunt velit sed malesuada. Pellentesque lacinia est ac lorem placerat tempus. In quis mauris at arcu bibendum fermentum eu quis velit. Pellentesque consequat molestie tortor, eget consectetur leo tristique ac. Quisque egestas arcu sed lectus vulputate, at faucibus quam malesuada. Donec fringilla turpis eros, id accumsan nibh egestas vel. Fusce a magna ut nisl pellentesque tincidunt.
                    <br /><br />
                    Sed imperdiet varius elit, ut congue arcu lobortis id. Aliquam ultrices ligula eu neque rutrum tincidunt. Pellentesque non metus neque. Donec blandit metus eu venenatis fringilla. Nam ut dui lorem. Nulla euismod a neque eget pulvinar. Proin cursus tristique lectus at iaculis. Phasellus elementum, mi in feugiat pulvinar, dui justo fermentum justo, a dapibus mi ligula nec nunc. Etiam a purus porta, mollis nulla ut, tempus elit. Quisque consectetur bibendum neque, vel tincidunt urna ultricies at. Mauris purus mauris, laoreet dapibus convallis non, tincidunt in elit. Nullam vel ligula nibh. Praesent egestas ullamcorper malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque rhoncus venenatis nunc non posuere.
                </p>

                <!-- Pagination -->
                <ul class="pager pull-right">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-sm-2">
                <h3 class="headline"><span>Resources</span></h3>
                <ul class="list-style-none resources">
                    <li><a href="@Url.Action("AboutUs", "Home")">About Us</a></li>
                    <li><a href="javascript:void(0);">Our Blog</a></li>
                    <li><a href="@Url.Action("ContactUs", "Home")">Contact Us</a></li>
                </ul>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->