@{
    ViewBag.Active = "Главная";   
}
<!-- Wrapper -->
<div class="wrapper">
    <!-- Home Slider -->
    <div class="home-slider">
        <!-- Carousel -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                <li data-target="#home-slider" data-slide-to="1"></li>
                <li data-target="#home-slider" data-slide-to="2"></li>
                <li data-target="#home-slider" data-slide-to="3"></li>
                <li data-target="#home-slider" data-slide-to="4"></li>
                <li data-target="#home-slider" data-slide-to="5"></li>
                <li data-target="#home-slider" data-slide-to="6"></li>
                <li data-target="#home-slider" data-slide-to="7"></li>
                <li data-target="#home-slider" data-slide-to="8"></li>
                <li data-target="#home-slider" data-slide-to="9"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Slide #1 -->
                <div class="item active" id="item-1">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_1-Corporate-Events--e1424518534469.jpg" alt="Corporate Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Corporate Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #2 -->
                <div class="item" id="item-2">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_2-Special-Events--e1424518690870.jpg" alt="Special Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Special Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>      
                </div> <!-- / .item -->
                <!-- Slide #3 -->
                <div class="item" id="item-3">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_3-Business-Events--e1424519048769.jpg" alt="Business Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Business Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>     
                </div> <!-- / .item -->
                <!-- Slide #4 -->
                <div class="item" id="item-4">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_4-Corporate-Travel--e1424520057455.jpg" alt="Corporate Travel">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Corporate Travel</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #5 -->
                <div class="item" id="item-5">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_5-Conference-Servise--e1424519634376.jpg" alt="Conference Service">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Conference Service</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #6 -->
                <div class="item" id="item-6">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_6-Entertainment-Program--e1424520098715.jpg" alt="Entertainment Program">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Entertainment Program</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #7 -->
                <div class="item" id="item-7">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_7-Incentive-Tours--e1424519524580.jpg" alt="Incentive Tours">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Incentive Tours</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #8 -->
                <div class="item" id="item-8">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_8-Extraordinary-Events-.jpg" alt="Extraordinary Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Extraordinary Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #9 -->
                <div class="item" id="item-9">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_9-Exclusive-Weddings-.jpg" alt="Exclusive Weddings">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Exclusive Weddings</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #10 -->
                <div class="item" id="item-10">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_10-Amazing-Show--e1424519980555.jpg" alt="Amazing Show">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Amazing Show</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
            </div> <!-- / .carousel -->
            <!-- Controls -->
            <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div> <!-- / .home-slider -->

    <!-- Browser Showcase -->
    <div id="eventeamPlatforms" class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline-lg">Eventeam</h2>
                <h4 class="text-theme-secondary">Единая площадка для организации мероприятий</h4>
                <div class="browser-showcase">
                    <img src="~/images/browsers.png" class="img-responsive" alt="...">
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- Main Services -->
    <div id="services" class="main-services">
        <div class="container">
            <div class="row services-area">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="conferences" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/1-Conferences.png" alt="Конференции" />
                                    <h4>Конференции</h4>
                                    <p>Четко спланировать конференцию, организовать трансферы, экскурсии, проживание и банкет, договориться с площадкой и погодой мало. Бизнес-мероприятия должны обучать, развлекать и вдохновлять. Организация таких конференций – наш профиль.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="mice" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/2-MICE.png" alt="MICE" />
                                    <h4>MICE</h4>
                                    <p>Мы можем организовать мероприятие не только в любом уголке Украины, но и в любой точке мира. Специфика есть, мы ее знаем, и сделали выводы: ответственность — синоним профессионализма, умение договариваться — залог успеха. А это — наши сильные стороны.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="teamBuildings" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/3-Teambuildings.png" alt="Тимбилдинги" />
                                    <h4>Тимбилдинги</h4>
                                    <p>Веревки и прочие банальности — это не командообразование. Должна быть идея. Яркая, индивидуальная, драйвовая, как сама команда. Именно идея вдохновляет, сплочает и мотивирует. Остальное — только инструменты. Генерация таких идей — наш конёк.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="events" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/4-Events.png" alt="События" />
                                    <h4>События</h4>
                                    <p>Мы гордимся, что Клиенты поручают нам самые разные свои ивенты: семинары и конгрессы, юбилеи и корпоративы, промоакции и презентации, в Украине и за рубежом. Мы понимаем ваши цели, мы помним их, они нас вдохновляют. Мы создаем мероприятия-бренды для вас.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="children" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/5-Children.png" alt="Детские" />
                                    <h4>Детские</h4>
                                    <p>Однажды мы организовали серию детских праздников для корпоративного клиента, в комплексе с другими мероприятиями. Сейчас это целое направление нашей деятельности. Дети — святое. Они должны жить в мире игры, сказки, фантазии и творчества.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="weddings" class="service-item">
                                <!--<i class="fa fa-envelope"></i>-->
                                <div class="service-desc">
                                    <img src="~/images/capabilities/6-Weddings.png" alt="Свадьбы" />
                                    <h4>Свадьбы</h4>
                                    <p>Только дорого, только эксклюзивно. Мы работаем с лучшими, а они стоят дорого. Для Вас… Для нас немного дешевле. Свадьба — это самый волшебный день… Для Вас. Для нас это месяцы подготовки, отработанная механика, четкое планирование и координация.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="cathering" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/7-Catering.png" alt="Кейтеринг" />
                                    <h4>Кейтеринг</h4>
                                    <p>Только дорого, только эксклюзивно. Мы работаем с лучшими, а они стоят дорого. Для Вас… Для нас немного дешевле. Свадьба — это самый волшебный день… Для Вас. Для нас это месяцы подготовки, отработанная механика, четкое планирование и координация.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div id="production" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/8-Production.png" alt="Продакшн" />
                                    <h4>Продакшн</h4>
                                    <p>Фото. Видео. Дизайн. Сувенирная продукция. В команде EVENTEAM — профессионалы этих направлений. Мы выслушаем, подумаем, еще раз встретимся, и подскажем: как можно реализовать эту потребность, что для этого нужно.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .main-features -->

    <!-- Responsive Showcase -->
    <div id="counters" class="responsive-showcase">
        <div class="container">
            <div class="responsive-design">
                <div class="row counters">
                    <div class="col-sm-3">
                        <div id="countries" class="counter counter-countries">7</div>
                        <div class="counter-name">Стран</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="cities" class="counter counter-cities">28</div>
                        <div class="counter-name">Городов</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="concepts" class="counter counter-concepts">267</div>
                        <div class="counter-name">Концепций</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="projects" class="counter counter-projects">365</div>
                        <div class="counter-name">Проектов</div>
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .template-thumbnails -->
        </div> <!-- / .container -->
    </div> <!-- / .template-showcase -->

    <!-- Feedback -->
    <div class="feedbacks">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="headline-lg">Наши клиенты</h2>
                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Тралалалалалаалаллала. Тралалалалалаалаллала. Тралалалалалаалаллала. Тралалалалалаалаллала.
                                <br/>
                                <i>Samsung</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Тралалалалалаалаллала.
                                <br />
                                <i>Ciklum</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hidden-sm col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Тралалалалалаалаллала. Тралалалалалаалаллала.
                                <br />
                                <i>Global Logic</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Тралалалалалаалаллала. Тралалалалалаалаллала. Тралалалалалаалаллала.
                                <br />
                                <i>Microsoft</i>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Тралалалалалаалаллала. Тралалалалалаалаллала.
                                <br />
                                <i>Apple</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .feedback -->
</div> <!-- / .wrapper -->

@section scripts {
    <script src="~/Scripts/jQuerySimpleCounter.js"></script>
    <script src="~/Scripts/home.js"></script>
}
