@{
    ViewBag.Active = "Главная";
}
<!-- Wrapper -->
<div class="wrapper">
    <!-- Home Slider -->
    <div class="home-slider">
        <!-- Carousel -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                <li data-target="#home-slider" data-slide-to="1"></li>
                <li data-target="#home-slider" data-slide-to="2"></li>
                <li data-target="#home-slider" data-slide-to="3"></li>
                <li data-target="#home-slider" data-slide-to="4"></li>
                <li data-target="#home-slider" data-slide-to="5"></li>
                <li data-target="#home-slider" data-slide-to="6"></li>
                <li data-target="#home-slider" data-slide-to="7"></li>
                <li data-target="#home-slider" data-slide-to="8"></li>
                <li data-target="#home-slider" data-slide-to="9"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Slide #1 -->
                <div class="item active" id="item-1">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_1-Corporate-Events--e1424518534469.jpg" alt="Corporate Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Corporate Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #2 -->
                <div class="item" id="item-2">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_2-Special-Events--e1424518690870.jpg" alt="Special Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Special Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #3 -->
                <div class="item" id="item-3">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_3-Business-Events--e1424519048769.jpg" alt="Business Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Business Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #4 -->
                <div class="item" id="item-4">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_4-Corporate-Travel--e1424520057455.jpg" alt="Corporate Travel">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Corporate Travel</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #5 -->
                <div class="item" id="item-5">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_5-Conference-Servise--e1424519634376.jpg" alt="Conference Service">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Conference Service</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #6 -->
                <div class="item" id="item-6">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_6-Entertainment-Program--e1424520098715.jpg" alt="Entertainment Program">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Entertainment Program</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #7 -->
                <div class="item" id="item-7">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_7-Incentive-Tours--e1424519524580.jpg" alt="Incentive Tours">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Incentive Tours</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #8 -->
                <div class="item" id="item-8">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_8-Extraordinary-Events-.jpg" alt="Extraordinary Events">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Extraordinary Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #9 -->
                <div class="item" id="item-9">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_9-Exclusive-Weddings-.jpg" alt="Exclusive Weddings">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Exclusive Weddings</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
                <!-- Slide #10 -->
                <div class="item" id="item-10">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_10-Amazing-Show--e1424519980555.jpg" alt="Amazing Show">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Amazing Show</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                </div> <!-- / .item -->
            </div> <!-- / .carousel -->
            <!-- Controls -->
            <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div> <!-- / .home-slider -->
    <!-- Main Services -->
    <div id="services" class="main-services">
        <div class="container">
            <div class="row services-area">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="services">
                            <div id="conferences" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/1-Conferences.png" alt="Конференции" />
                                    <h4>Конференции</h4>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-4">
                        <div class="services">
                            <div id="mice" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/2-MICE.png" alt="MICE" />
                                    <h4>MICE</h4>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>      
                    <div class="col-sm-4">
                        <div class="services">
                            <div id="events" class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/4-Events.png" alt="События" />
                                    <h4>События</h4>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .main-features -->
    <!-- Responsive Showcase -->
    <div id="counters" class="responsive-showcase">
        <div class="container">
            <div class="responsive-design">
                <div class="row counters">
                    <div class="col-sm-3">
                        <div id="countries" class="counter counter-countries">19</div>
                        <div class="counter-name">Стран</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="cities" class="counter counter-cities">37</div>
                        <div class="counter-name">Городов</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="concepts" class="counter counter-concepts">267</div>
                        <div class="counter-name">Концепций</div>
                    </div>
                    <div class="col-sm-3">
                        <div id="projects" class="counter counter-projects">365</div>
                        <div class="counter-name">Проектов</div>
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .template-thumbnails -->
        </div> <!-- / .container -->
    </div> <!-- / .template-showcase -->
    <!-- Feedback -->
    <div class="feedbacks">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="headline-lg">О нас</h2>
                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-8 col-md-8">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Какая ваша специализация?
                                <br />
                                <!---<i>Samsung</i>-->
                            </p>
                            <p>
                                Основная специализация EVENTEAM international - организация бизнес-поездок. Но правда в том, что Клиент все равно обращается к нам и по организации семинара в Украине на 20 чел, и по организации конференции за рубежом на 200 чел. И даже по изготовлению сувенирной продукции на 120 000 человек. Потому что удобно работать с одной компанией, которая заботится о том, чтобы тебе было комфортно, спокойно и выгодно.
                                <br />
                                Вот она, специализация EVENTEAM international, - ЗАБОТА о Клиенте!
                                <br />
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Как вас находят клиенты?
                                <br />
                            </p>
                            <p>
                                Чаще всего к нам обращаются в кризисной ситуации, когда:
                                <br />
                                1) мероприятие сложное;
                                <br />
                                2) времени мало;
                                <br />
                                3) бюджет утверждён.
                                <br />
                                Такая у нас репутация - кризис-менеджеров. А ещё гиперответственных перфекционистов ;)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hidden-sm col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Много у вас клиентов?
                            </p>
                            <p>
                                Чтобы гарантировать качественный сервис, мы работаем с небольшим количеством компаний.
                                Вырастили двух новых специалистов - берём ещё одну компанию на обслуживание. Взяли компанию - берём ещё двух сотрудников на обучение.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Как у вас построены продажи, какие инструменты продвижения вы используете?
                            </p>
                            <p>
                                Мы не занимаемся продажами, не участвуем в тендерах, не покупаем рекламу на ФБ. Наш основной
                                инструмент продвижения - качественно предоставленный сервис. Сервис, который хочется
                                рекомендовать. И нас рекомендуют. Только после истории успешного сотрудничества, и только
                                хорошим партнерам. Потому что рекомендация - это ответственность. Прежде всего, перед собой.
                                Ведь придётся нас с кем-то делить... Не все к этому готовы ;)
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Где вы их обучаете?
                            </p>
                            <p>
                                У нас внутренняя система обучения, свои стандарты и правила. Прежде чем сотрудник
                                самостоятельно отправит Клиенту первое письмо, он учится грамотно формулировать и
                                структурировать письма, делать красочные визуализации, виртуозно владеть экселем,
                                договариваться за лучшие цены и условия, нести ответственность за успех Клиента.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Этому можно научиться?
                            </p>
                            <p>
                                Чему, ответственности? Не уверена. Скорее, это врожденное качество. Всему остальному можно.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Неужели это так важно, что, недостаточно быть просто хорошим специалистом?
                            </p>
                            <p>
                                Специалистом - возможно. Профессионалом - нет.
                                Профессионализм = ответственность.
                                Ответственность = профессионализм.
                                Человек может стараться, но, если у него нет чувства ответственности, он будет делать свою работу
                                посредственно. "Чувство меры и чувство ответственности не присущи унылой посредственности" -
                                как говорил Окуджава.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Как вы подбираете персонал?
                            </p>
                            <p>
                                У каждого сотрудника - своя история. Общее в этих историях - стремление себя делать лучше, жизнь
                                других - легче. А ещё готовность служить Клиенту, ген гостеприимства, и много других полезных
                                генов ;)

                                Все сотрудники пришли к нам совершенно из разных сфер, со словами "научите меня". У них
                                хватило смелости следовать своему сердцу и призванию, несмотря на то что в начале "нужно было
                                согласится на меньшее, чтобы получить большее". Это сейчас в EVENTEAM international одни из
                                самых высоких зарплат на рынке, в начале было все довольно зыбко и скромно.
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .feedback -->
</div> <!-- / .wrapper -->

@section scripts {
    @Scripts.Render("~/bundles/home")
}
