<!-- Wrapper -->
<div class="wrapper">
    <!-- Home Slider -->
    <div class="home-slider">
        <!-- Carousel -->
        <div id="home-slider" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#home-slider" data-slide-to="0" class="active"></li>
                <li data-target="#home-slider" data-slide-to="1"></li>
                <li data-target="#home-slider" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <!-- Slide #1 -->
                <div class="item active" id="item-1">
                    <div class="col-full-12">
                        <img class="cover-fullscreen" src="~/images/main-slider/slider_1-Corporate-Events--e1424518534469.jpg" alt="Corporate Event">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="cover-content">
                                        <ul class="lead">
                                            <li class="animated slideInLeft delay-4"><span class="legend-text legend-white">Corporate Events</span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .container -->
                    </div>
                    </div> <!-- / .item -->
                <!-- Slide #2 -->
                <div class="item" id="item-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="home-slider__content">
                                    <ul class="lead">
                                        <li class="animated slideInLeft delay-2"><span>Built with Bootstrap 3x</span></li>
                                        <li class="animated slideInLeft delay-3"><span>20+ HTML Templates</span></li>
                                        <li class="animated slideInLeft delay-4"><span>Isotope Gallery</span></li>
                                        <li class="animated slideInLeft delay-5"><span>LESS Files Included</span></li>
                                    </ul>
                                    <ul class="lead string">
                                        <li class="animated fadeInUpBig delay-6"><span>Professional Multi-purpose Theme</span></li>
                                        <li class="animated fadeInUpBig delay-7"><span>That Works Out Of The Box</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div> <!-- / .container -->
                    <div class="bg-img hidden-xs">
                        <img src="~/images/item-2.png" alt="...">
                    </div>         
                </div> <!-- / .item -->
                <!-- Slide #3 -->
                <div class="item" id="item-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="home-slider__content">
                                    <h1 class="first-child animated slideInDown delay-2">Fully Packed With Features</h1>
                                    <h3 class="animated slideInDown delay-3">Look No Further</h3>
                                    <ul>
                                        <li class="animated slideInLeft delay-4"><i class="fa fa-chevron-circle-right fa-fw"></i> Built With Bootstrap 3</li>
                                        <li class="animated slideInLeft delay-5"><i class="fa fa-chevron-circle-right fa-fw"></i> Fully Responsive Design</li>
                                        <li class="animated slideInLeft delay-6"><i class="fa fa-chevron-circle-right fa-fw"></i> Easy to Customize</li>
                                        <li class="animated slideInLeft delay-7"><i class="fa fa-chevron-circle-right fa-fw"></i> 20+ HTML Templates</li>
                                    </ul>
                                    <a href="#" class="btn btn-lg btn-theme-primary animated fadeInUpBig delay-8">Purchase Now</a>
                                </div>
                            </div>
                        </div> <!-- / .row -->
                    </div> <!-- / .container -->
                    <div class="bg-img hidden-xs">
                        <img src="~/images/item-3.png" alt="...">
                    </div>       
                </div> <!-- / .item -->
            </div> <!-- / .carousel -->
            <!-- Controls -->
            <a class="carousel-arrow carousel-arrow-prev" href="#home-slider" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-arrow carousel-arrow-next" href="#home-slider" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div> <!-- / .home-slider -->

    <!-- Services -->
    <div class="home-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <ul>
                        <li>
                            <i class="fa fa-gears"></i>
                            <p><span>Built with </span> Bootstrap 3</p>
                        </li>
                        <li>
                            <i class="fa fa-flag"></i>
                            <p>Font Awesome <span>Icons</span></p>
                        </li>
                        <li>
                            <i class="fa fa-picture-o"></i>
                            <p>Isotope <span>Portfolio</span></p>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <p>24/7 Support <span>by e-mail</span></p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5 hidden-sm hidden-xs">
                    <p class="lead">Ready-to-go Solution Built with Bootstrap 3</p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .services -->

    <!-- Browser Showcase -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline-lg">Eventeam</h2>
                <h4 class="text-theme-secondary">Единая площадка для организации мероприятий</h4>
                <div class="browser-showcase">
                    <img src="~/images/browsers.png" class="img-responsive" alt="...">
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

    <!-- Main Services -->
    <div class="main-services">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/1-Conferences.png" alt="Конференции" />
                                    <h4>Конференции</h4>
                                    <p>Четко спланировать конференцию, организовать трансферы, экскурсии, проживание и банкет, договориться с площадкой и погодой мало. Бизнес-мероприятия должны обучать, развлекать и вдохновлять. Организация таких конференций – наш профиль.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/2-MICE.png" alt="MICE" />
                                    <h4>MICE</h4>
                                    <p>Мы можем организовать мероприятие не только в любом уголке Украины, но и в любой точке мира. Специфика есть, мы ее знаем, и сделали выводы: ответственность — синоним профессионализма, умение договариваться — залог успеха. А это — наши сильные стороны.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/3-Teambuildings.png" alt="Тимбилдинги" />
                                    <h4>Тимбилдинги</h4>
                                    <p>Веревки и прочие банальности — это не командообразование. Должна быть идея. Яркая, индивидуальная, драйвовая, как сама команда. Именно идея вдохновляет, сплочает и мотивирует. Остальное — только инструменты. Генерация таких идей — наш конёк.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/4-Events.png" alt="События" />
                                    <h4>События</h4>
                                    <p>Мы гордимся, что Клиенты поручают нам самые разные свои ивенты: семинары и конгрессы, юбилеи и корпоративы, промоакции и презентации, в Украине и за рубежом. Мы понимаем ваши цели, мы помним их, они нас вдохновляют. Мы создаем мероприятия-бренды для вас.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/5-Children.png" alt="Детские" />
                                    <h4>Детские</h4>
                                    <p>Однажды мы организовали серию детских праздников для корпоративного клиента, в комплексе с другими мероприятиями. Сейчас это целое направление нашей деятельности. Дети — святое. Они должны жить в мире игры, сказки, фантазии и творчества.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <!--<i class="fa fa-envelope"></i>-->
                                <div class="service-desc">
                                    <img src="~/images/capabilities/6-Weddings.png" alt="Свадьбы" />
                                    <h4>Свадьбы</h4>
                                    <p>Только дорого, только эксклюзивно. Мы работаем с лучшими, а они стоят дорого. Для Вас… Для нас немного дешевле. Свадьба — это самый волшебный день… Для Вас. Для нас это месяцы подготовки, отработанная механика, четкое планирование и координация.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">  
                                <div class="service-desc">
                                    <img src="~/images/capabilities/7-Catering.png" alt="Кейтеринг" />
                                    <h4>Кейтеринг</h4>
                                    <p>Только дорого, только эксклюзивно. Мы работаем с лучшими, а они стоят дорого. Для Вас… Для нас немного дешевле. Свадьба — это самый волшебный день… Для Вас. Для нас это месяцы подготовки, отработанная механика, четкое планирование и координация.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                    <div class="col-sm-3">
                        <div class="services">
                            <div class="service-item">
                                <div class="service-desc">
                                    <img src="~/images/capabilities/8-Production.png" alt="Продакшн" />
                                    <h4>Продакшн</h4>
                                    <p>Фото. Видео. Дизайн. Сувенирная продукция. В команде EVENTEAM — профессионалы этих направлений. Мы выслушаем, подумаем, еще раз встретимся, и подскажем: как можно реализовать эту потребность, что для этого нужно.</p>
                                </div>
                            </div>
                        </div> <!-- / .services -->
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .main-features -->

    <!-- Responsive Showcase -->
    <div class="responsive-showcase">
        <div class="container">
            <div class="responsive-design">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="headline-lg headline-lg_left first-child">Fully Responsive Design</h2>
                        <p class="lead text-muted">
                            Pellentesque magna turpis, porttitor non leo ac, imperdiet sollicitudin neque. Sed id condimentum quam. Ut dui velit, suscipit et libero vulputate, feugiat vestibulum velit. Integer auctor, orci sit amet tincidunt posuere.
                        </p>
                        <ul class="list-inline hidden-xs">
                            <li><i class="fa fa-mobile text-theme-secondary inactive" data-device="#iphone"></i></li>
                            <li><i class="fa fa-tablet text-theme-secondary inactive" data-device="#ipad"></i></li>
                            <li><i class="fa fa-laptop text-theme-secondary" data-device="#macbook"></i></li>
                            <li><i class="fa fa-desktop text-theme-secondary inactive" data-device="#imac"></i></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 hidden-xs">
                        <img class="img-responsive show" src="~/images/macbook.png" alt="..." id="macbook">
                        <img class="img-responsive hidden" src="~/images/imac.png" alt="..." id="imac">
                        <img class="img-responsive hidden" src="~/images/ipad.png" alt="..." id="ipad">
                        <img class="img-responsive hidden" src="~/images/iphone.png" alt="..." id="iphone">
                    </div>
                </div> <!-- / .row -->
            </div> <!-- / .template-thumbnails -->
        </div> <!-- / .container -->
    </div> <!-- / .template-showcase -->

    <!-- Feedback -->
    <div class="feedbacks">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="headline-lg">What Clients Say About Us</h2>
                </div>
            </div> <!-- / .row -->
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                In vitae sodales massa. Proin commodo nibh sed nisi placerat facilisis. Fusce fringilla elit ipsum, vitae viverra ligula hendrerit nec.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                In vitae sodales massa. Proin commodo nibh sed nisi placerat facilisis. Fusce fringilla elit ipsum, vitae viverra ligula hendrerit nec.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="hidden-sm col-md-4">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                In vitae sodales massa. Proin commodo nibh sed nisi placerat facilisis. Fusce fringilla elit ipsum, vitae viverra ligula hendrerit nec.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Donec dignissim ipsum nec sagittis suscipit. Nullam nibh turpis, faucibus ultrices ullamcorper et, ornare sit amet quam. Etiam adipiscing justo massa, vel elementum felis aliquet quis. Nulla facilisis magna nulla, nec imperdiet felis lacinia et.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feedback">
                        <i class="fa fa-user fa-2x"></i>
                        <div>
                            <p>
                                Donec dignissim ipsum nec sagittis suscipit. Nullam nibh turpis, faucibus ultrices ullamcorper et, ornare sit amet quam. Etiam adipiscing justo massa, vel elementum felis aliquet quis. Nulla facilisis magna nulla, nec imperdiet felis lacinia et.
                            </p>
                        </div>
                    </div>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </div> <!-- / .feedback -->

    <!-- Recent Blog Posts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline-lg">Recent Blog Posts</h2>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-6">
                <div class="blog">
                    <img src="~/images/photo-1.jpg" alt="...">
                    <div class="blog-desc">
                        <h3>
                            <a href="javascript:void(0);">Sed lacinia suscipit lacus non sodales. Pellentesque lacinia ornare justo eu tincidunt.</a>
                        </h3>
                        <hr>
                        <p class="text-muted">by John Doe</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisi lorem, elementum sed feugiat ac, pharetra lacinia mi. Integer iaculis risus sed quam vehicula, sit amet lacinia sem rutrum. Integer ligula orci.</p>
                        <a class="btn btn-lg btn-theme-primary" href="javascript:void(0);">Read More...</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="blog second-child">
                    <img src="~/images/photo-2.jpg" alt="...">
                    <div class="blog-desc">
                        <h3>
                            <a href="javascript:void(0);">Nulla pretium libero interdum, tempus lorem non, rutrum diam. Lorem ipsum dolor sit amet.</a>
                        </h3>
                        <hr>
                        <p class="text-muted">by John Doe</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisi lorem, elementum sed feugiat ac, pharetra lacinia mi. Integer iaculis risus sed quam vehicula, sit amet lacinia sem rutrum. Integer ligula orci.</p>
                        <a class="btn btn-lg btn-theme-primary" href="javascript:void(0);">Read More...</a>
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->