<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Pricing Options</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Pricing Options</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="headline first-child"><span>Please choose one of the pricing options below to subscribe</span></h3>
                <p>
                    Donec tincidunt nec mi eu venenatis. Nulla facilisi. Maecenas venenatis condimentum porttitor. Aliquam erat volutpat. In ac mollis odio. Praesent ac mi nisi. Nulla congue mi at porttitor ultrices. Nulla pellentesque placerat elit, sit amet egestas mi consectetur eleifend. Integer molestie ultricies libero ut consectetur. Maecenas consectetur quis elit quis consequat. Sed tincidunt nulla in lorem ullamcorper, ut aliquam odio malesuada.
                </p>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="table-responsive b-pricing-table">
                <table class="table table-bordered b-pricing-table__table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="b-pricing-table__plan-title">Basic Plan</th>
                            <th class="b-pricing-table__plan-title">Pro Plan</th>
                            <th class="b-pricing-table__plan-title">Business Plan</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="b-pricing-table-price__title">Price (per month)</td>
                            <td class="b-pricing-table__price">$25</td>
                            <td class="b-pricing-table__price">$35</td>
                            <td class="b-pricing-table__price">$45</td>
                        </tr>
                        <tr>
                            <td>Lorem ipsum dolor sit amet</td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                        </tr>
                        <tr>
                            <td>Pellentesque vitae dolor</td>
                            <td><i class="fa fa-times b-pricing-table__times"></i></td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                        </tr>
                        <tr>
                            <td>Phasellus id elit a felis</td>
                            <td><i class="fa fa-times b-pricing-table__times"></i></td>
                            <td><i class="fa fa-times b-pricing-table__times"></i></td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                        </tr>
                        <tr>
                            <td>Mauris eget ligula in elit</td>
                            <td><i class="fa fa-times b-pricing-table__times"></i></td>
                            <td><i class="fa fa-times b-pricing-table__times"></i></td>
                            <td><i class="fa fa-check b-pricing-table__check"></i></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>
                            <td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>
                            <td><a href="#" class="btn btn-theme-secondary">Subscribe</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->