<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Pricing Options</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Pricing Options</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="headline first-child"><span>Please choose one of the pricing options below to subscribe</span></h3>
                <p>
                    Donec tincidunt nec mi eu venenatis. Nulla facilisi. Maecenas venenatis condimentum porttitor. Aliquam erat volutpat. In ac mollis odio. Praesent ac mi nisi. Nulla congue mi at porttitor ultrices. Nulla pellentesque placerat elit, sit amet egestas mi consectetur eleifend. Integer molestie ultricies libero ut consectetur. Maecenas consectetur quis elit quis consequat. Sed tincidunt nulla in lorem ullamcorper, ut aliquam odio malesuada.
                </p>
            </div>
        </div> <!-- / .row -->
        <div class="row b-pricing-joint">
            <div class="b-pricing-joint__inner">
                <div class="col-sm-6 col-md-3 b-pricing-joint__col">
                    <div class="pricing-option">
                        <div class="pricing-inner">
                            <div class="pricing-header">
                                <h5>Basic Plan</h5>
                            </div>
                            <div class="pricing-number">
                                25$<span>/month</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-style-none">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                                <a href="#" class="btn btn-theme-secondary">Subscribe</a>
                            </div>
                        </div>
                    </div> <!-- / .pricing-option -->
                </div>
                <div class="col-sm-6 col-md-3 b-pricing-joint__col">
                    <div class="pricing-option" id="bonus">
                        <div class="pricing-inner">
                            <div class="pricing-header">
                                <h5>Pro Plan</h5>
                            </div>
                            <div class="pricing-number">
                                35$<span>/month</span>
                                <i class="fa fa-scissors" id="bonus-tip" data-toggle="tooltip" data-placement="top" title="Click to reach a secret level."></i>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-style-none">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                                <p class="text-center js-bonus-block opacity-0">
                                    <i class="fa fa-unlock fa-lg"></i><br />
                                    Congratulations! You've unlocked a secret level.<br />
                                    As a bonus you get a 5% discount, but keep it on the down low!
                                </p>
                                <a href="#" class="btn btn-theme-secondary">Subscribe</a>
                            </div>
                        </div>
                    </div> <!-- / .pricing-option -->
                </div>
                <div class="clearfix visible-sm"></div>
                <div class="col-sm-6 col-md-3 b-pricing-joint__col">
                    <div class="pricing-option">
                        <div class="pricing-inner">
                            <div class="pricing-header">
                                <h5>Business Plan</h5>
                            </div>
                            <div class="pricing-number">
                                45$<span>/month</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-style-none">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                                <a href="#" class="btn btn-theme-secondary">Subscribe</a>
                            </div>
                        </div>
                    </div> <!-- / .pricing-option -->
                </div>
                <div class="col-sm-6 col-md-3 b-pricing-joint__col">
                    <div class="pricing-option">
                        <div class="pricing-inner">
                            <div class="pricing-header">
                                <h5>Exclusive Plan</h5>
                            </div>
                            <div class="pricing-number">
                                55$<span>/month</span>
                            </div>
                            <div class="pricing-body">
                                <ul class="list-style-none">
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Lorem ipsum dolor sit amet</li>
                                </ul>
                                <a href="#" class="btn btn-theme-secondary">Subscribe</a>
                            </div>
                        </div>
                    </div> <!-- / .pricing-option -->
                </div>
            </div> <!-- / .pricing-joint__inner -->
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->