<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Search Results</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Search Results</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-9">

                <!-- Search Input -->
                <form role="form" class="b-search-results__search-input">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter your search query here..." value="HTML5 template">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                        </span>
                    </div>
                </form>

                <div class="row b-search-results__info-panel">
                    <div class="col-sm-6">
                        <!-- Results found -->
                        <p class="text-muted">
                            Website search (27 matches)
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <!-- Sort by -->
                        <ul class="b-search-results-info__sort-by">
                            <li>Sort by:</li> 
                            <li class="active"><a href="#">relevance</a></li>
                            <li><a href="#">date</a></li>
                            <li><a href="#">rating</a></li>
                        </ul>
                    </div>
                </div>
                <hr>

                <!-- Search results links -->
                <ul class="b-search-results__links">
                    <li>
                        <div class="title">
                            <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec ornare ipsum.</a>
                        </div>
                        <div class="snippet">
                            Suspendisse purus quam, mollis eget ornare non, consequat quis nisi. Vestibulum id nisl lobortis lorem tincidunt iaculis. Donec ac ultrices eros. <strong>Ut posuere ultricies viverra</strong>. Ut vitae pretium lectus...
                        </div>
                        <div class="url">
                            <a href="#">http://simpleqode.com/index.html</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#">Cras nec ornare ipsum. Maecenas semper luctus sagittis.</a>
                        </div>
                        <div class="snippet">
                            Suspendisse purus quam, mollis eget ornare non, consequat quis nisi. Vestibulum id nisl lobortis lorem tincidunt iaculis. Donec ac ultrices eros. Ut <strong>posuere ultricies</strong> viverra. Ut vitae pretium lectus...
                        </div>
                        <div class="url">
                            <a href="#">http://simpleqode.com/index.html</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#">Fusce sollicitudin ultricies elit, tincidunt tempus tellus fringilla in.</a>
                        </div>
                        <div class="snippet">
                            Suspendisse purus quam, mollis eget ornare non, consequat quis nisi. Vestibulum id nisl lobortis lorem tincidunt iaculis. Donec ac ultrices eros. Ut posuere ultricies viverra. Ut vitae pretium lectus...
                        </div>
                        <div class="url">
                            <a href="#">http://simpleqode.com/index.html</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#">Donec porta mi justo, non commodo metus malesuada in. Quisque posuere.</a>
                        </div>
                        <div class="snippet">
                            Suspendisse purus quam, mollis eget ornare non, consequat quis nisi. Vestibulum id nisl lobortis lorem tincidunt iaculis. <strong>Donec ac ultrices eros</strong>. Ut posuere ultricies viverra. Ut vitae pretium lectus...
                        </div>
                        <div class="url">
                            <a href="#">http://simpleqode.com/index.html</a>
                        </div>
                    </li>
                    <li>
                        <div class="title">
                            <a href="#">Suspendisse purus quam, mollis eget ornare non, consequat quis nisi.</a>
                        </div>
                        <div class="snippet">
                            Suspendisse purus quam, mollis eget ornare non, consequat quis nisi. Vestibulum id nisl lobortis lorem tincidunt iaculis. Donec ac ultrices eros. Ut posuere ultricies viverra. Ut vitae pretium lectus...
                        </div>
                        <div class="url">
                            <a href="#">http://simpleqode.com/index.html</a>
                        </div>
                    </li>
                </ul>

                <!-- Pagination -->
                <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h3 class="headline-alt second-child">
                    Top categories
                </h3>
                <ul class="b-categories-list">
                    <li><a href="#">Lorem ipsum dolor sit amet, consectetur</a></li>
                    <li><a href="#">Morbi in risus iaculis, fringilla sem ac</a></li>
                    <li><a href="#">In vel tellus id tortor mattis mollis</a></li>
                    <li><a href="#">Praesent condimentum mi sed ipsum dapibus</a></li>
                </ul>
                <h3 class="headline-alt second-child">
                    Related Searches
                </h3>
                <ul class="b-categories-list">
                    <li><a href="#">Pellentesque a purus</a></li>
                    <li><a href="#">Phasellus ut diam vel ligula</a></li>
                    <li><a href="#">Integer condimentum felis in consectetur</a></li>
                    <li><a href="#">Morbi quis purus nec sem</a></li>
                </ul>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->