<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Services</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Services</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3 class="headline"><span>Company Introduction</span></h3>
                <p>
                    Sed at porta tellus. Sed sit amet ipsum non dolor tincidunt vestibulum eget et urna. In et placerat eros. Curabitur tristique lacinia tortor ut ornare. Proin vehicula rhoncus fermentum. Integer scelerisque aliquam turpis. Quisque pellentesque, sem vel molestie posuere, orci sapien interdum mauris, eget condimentum purus arcu ut augue.
                </p><br />
                <div class="info-board info-board-theme-primary">
                    <h4>Welcome Aboard</h4>
                    <p>
                        Nunc in neque nec arcu vulputate ullamcorper. Ut id orci ac arcu consectetur fringilla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                </div>
            </div>
            <div class="col-sm-5">
                <h3 class="headline"><span>Video Guide</span></h3>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="//player.vimeo.com/video/67449472?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="headline"><span>Main Services Provided By Your Company</span></h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent imperdiet pretium elit non lacinia. Integer in consequat metus. Curabitur dapibus velit sed scelerisque fermentum. Proin interdum purus nec pharetra semper.
                </p>
            </div>
        </div> <!-- / .row -->
        <div class="row">
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-gear"></i>
                        <div class="service-desc">
                            <h4>Built With Bootstrap 3</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                        </div>
                    </div>
                </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-arrows-alt"></i>
                        <div class="service-desc">
                            <h4>Responsive Design</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                        </div>
                    </div>
                </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-refresh"></i>
                        <div class="service-desc">
                            <h4>Easy to Customize</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                        </div>
                    </div>
                </div> <!-- / .services -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-plus"></i>
                        <div class="service-desc">
                            <h4>Works Out Of the Box</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                        </div>
                    </div>
                </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-envelope"></i>
                        <div class="service-desc">
                            <h4>24/7 Support</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                        </div>
                    </div>
                </div> <!-- / .services -->
            </div>
            <div class="col-sm-4">
                <div class="services">
                    <div class="service-item">
                        <i class="fa fa-picture-o"></i>
                        <div class="service-desc">
                            <h4>Isotope Gallery</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                        </div>
                    </div>
                </div> <!-- / .services -->
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->