<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Sign Up</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Sign Up</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="sign-form">
                    <div class="sign-inner">
                        <h3 class="first-child">Create New Account</h3>
                        <hr>
                        <form role="form">
                            <div class="form-group">
                                <label for="name" class="sr-only">Enter name</label>
                                <input type="text" class="form-control" id="name" placeholder="Your name" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Enter your full name here." data-original-title="Name">
                            </div>
                            <div class="form-group">
                                <label for="username" class="sr-only">Enter username</label>
                                <input type="text" class="form-control" id="username" placeholder="Username" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Enter your nickname here." data-original-title="Username">
                            </div>
                            <div class="form-group">
                                <label for="email" class="sr-only">Enter e-mail</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Enter a valid email here." data-original-title="Email">
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="password" class="sr-only">Enter password</label>
                                        <input type="password" class="form-control margin-bottom-xs" id="password" placeholder="Password" data-toggle="popover" data-placement="left" data-trigger="focus" data-content="Enter a good password here." data-original-title="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="repeat-password" class="sr-only">Repeat password</label>
                                        <input type="password" class="form-control" id="repeat-password" placeholder="Repeat Password" data-toggle="popover" data-trigger="focus" data-content="Confirm your password here." data-original-title="Repeat Password">
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> I agree to the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-theme-primary">Create Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->      
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->