<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Timeline</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">Timeline</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="headline-lg first-child">
                    Timeline
                </h2>
                <h4>
                    Timeline is a great way to showcase your company history, share news or events
                </h4>

                <!-- Timeline -->
                <ul class="timeline">
                    <li class="year">
                        <span>2014</span>
                    </li>
                    <li></li>
                    <li class="event">
                        <div class="event__title">
                            <h3>Work has been started</h3>
                            <time datetime="2014-04-28">Apr 28, 2014</time>
                        </div>
                        <div class="event__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                            </p>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event__title">
                            <h3>Alpha verson released</h3>
                            <time datetime="2014-05-05">May 05, 2014</time>
                        </div>
                        <div class="event__content">
                            <p>
                                <img class="img-responsive" src="~/images/general-4.jpg" alt="...">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                            </p>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event__title">
                            <h3>Beta verson released</h3>
                            <time datetime="2014-05-07">May 07, 2014</time>
                        </div>
                        <div class="event__content">
                            <p>
                                <img class="img-responsive" src="~/images/general-2.jpg" alt="...">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                            </p>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event__title">
                            <h3>RC-1 released</h3>
                            <time datetime="2014-05-10">May 10, 2014</time>
                        </div>
                        <div class="event__content">
                            <p>
                                Donec eu sem placerat, porta nulla a, dignissim tellus. Praesent non lorem leo. Mauris quis hendrerit metus, id vehicula leo. Cum sociis natoque penatibus et magnis dis parturient montes.<br />
                            </p>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event__title">
                            <h3>RC-2 released</h3>
                            <time datetime="2014-05-14">May 14, 2014</time>
                        </div>
                        <div class="event__content">
                            <p>
                                Donec eu sem placerat, porta nulla a, dignissim tellus. Praesent non lorem leo. Mauris quis hendrerit metus, id vehicula leo. Cum sociis natoque penatibus et magnis dis parturient montes.
                            </p>
                        </div>
                    </li>
                    <li class="event">
                        <div class="event__title">
                            <h3>Final version released</h3>
                            <time datetime="2014-05-10">May 20, 2014</time>
                        </div>
                        <div class="event__content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.
                            </p>
                            <a class="btn btn-theme-primary" href="#"><i class="fa fa-download"></i> Download</a>
                        </div>
                    </li>
                    <li class="clearfix"></li> <!-- Always use a cleafix to include a Year inside the Timeline -->
                    <li class="year">
                        <span>2015</span>
                    </li>
                </ul>
            </div>
        </div>
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->