<!-- Wrapper -->
<div class="wrapper">

    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>User Profile</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                        <li class="active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="user-avatar shadow-effect text-center">
                    <img class="img-responsive center-block" src="~/images/photo-1.jpg" alt="...">
                    John Doe
                    <p class="text-muted">Project Manager</p>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        User Menu
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
                            <li><a href="#"><i class="fa fa-edit"></i> Edit Profile</a></li>
                            <li><a href="#"><i class="fa fa-envelope-o"></i> Messages</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-7">
                        <h3 class="second-child">John Joe</h3>
                        <p class="text-muted">
                            Talented designer and passionate narrator.
                        </p>
                        <p><a href="https://wrapbootstrap.com/">https://wrapbootstrap.com/</a></p>
                        <div class="social user-social">
                            <ul class="list-inline">
                                <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <ul class="user-info">
                            <li>From: <span class="text-muted">San Francisco, CA</span></li>
                            <li>Rating: 
                                <ul class="rating list-inline">
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li> 
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </li>
                            <li>Last login: <span class="text-muted">3 hours ago</span></li>
                        </ul>
                        <a href="contact-us" class="btn btn-theme-secondary"><i class="fa fa-envelope"></i> Send Message</a>
                    </div>
                    <div class="col-sm-12 shopping-cart user-cart">
                        <hr class="arrow-down">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>3 items to buy</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="~/images/imac.png" alt="...">
                                        <div class="item">
                                            Product Title #1
                                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                                        </div>
                                    </td>
                                    <td>$339,00</td>
                                    <td><input type="number" name="pcs" value="1" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="~/images/macbook.png" alt="...">
                                        <div class="item">
                                            Product Title #2
                                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                                        </div>
                                    </td>
                                    <td>$210,00</td>
                                    <td><input type="number" name="pcs" value="1" class="form-control"></td>
                                </tr>
                                <tr>
                                    <td>
                                        <img class="img-responsive" src="~/images/ipad.png" alt="...">
                                        <div class="item">
                                            Product Title #3
                                            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id ipsum varius, tincidunt odio nec, placerat enim.</p>
                                        </div>
                                    </td>
                                    <td>$50,00</td>
                                    <td><input type="number" name="pcs" value="1" class="form-control"></td>
                                </tr>
                            </tbody>
                        </table>
                        <ul class="text-right checkout">
                            <li><strong>Total Price</strong>: $599</li>
                            <li><strong>Shipping</strong>: Free</li>
                            <li><a href="#" class="btn btn-theme-secondary">Proceed to checkout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->

</div> <!-- / .wrapper -->