.footer-block {
    margin-right: 20px;
}

.pagination-sm > li > a {
    padding: 3px 7px;
}

div.footer-block > ul.pagination {
    margin: 0;
}

div.mask > p.zoom-in {
    margin-left: -14px !important;
}

div.col-full-12 {
    height: 500px;
    overflow: hidden;
}

div.cover-content {
    padding-top: 175px;
}

img.cover-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 800px;
}

.legend-text {
    font-size: 3em;
    font-weight: 400;
}

.legend-white {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.legend-black {
    color: #000;
    text-shadow: 2px 2px 4px #000;
}

ul.lead > li {
    text-align: center;
}