@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProLight"; */
@font-face {
    font-family: "SourceSansProLight";
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProBold"; */
@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.footer-block {
    margin-right: 20px;
}

.pagination-sm > li > a {
    padding: 3px 7px;
}

div.footer-block > ul.pagination {
    margin: 0;
}

div.mask > p.zoom-in {
    margin-left: -14px !important;
}

div.col-full-12 {
    height: 500px;
    overflow: hidden;
}

div.cover-content {
    padding-top: 175px;
}

img.cover-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 800px;
}

.home-slider ul > li {
    text-align: center !important;
}

.legend-text {
    background: none !important;
    box-shadow: none !important;
    display: inline-block;
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 0 !important;
    padding: 0 !important;
    text-align: center !important;
    -webkit-box-shadow: none !important;
}

.legend-white {
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

.legend-black {
    color: #000;
    text-shadow: 2px 2px 4px #000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #EF5C65;
}

.services-area {
    visibility: hidden;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #EAEAEA;
}

div.browser-showcase {
    margin: 0 0 -5px 0;
}

.carousel-inner.narrow {
    height: 437px;
}