.footer-block {
    margin-right: 20px;
}

.pagination-sm > li > a {
    padding: 3px 7px;
}

div.footer-block > ul.pagination {
    margin: 0;
}

div.mask > p.zoom-in {
    margin-left: -14px !important;
}

div.col-full-12 {
    background-image: url(../images/main-slider/slider_1-Corporate-Events--1080x675.jpg)
}